In [27]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [28]:
df_match_data = pd.read_csv('./dataset/match_data.csv', dtype={'season': str})
df_match_info = pd.read_csv('./dataset/match_info_data.csv')
df_match_info.shape, df_match_data.shape

((1024, 18), (243817, 23))

In [29]:
df_match_data.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353

In [30]:
df_match_info.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit

In [31]:
df_match_info.loc[~df_match_info['id'].isin(df_match_data['match_id'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2, umpire3]
Index: []

In [32]:
df = df_match_data.merge(df_match_info, how='left', left_on='match_id', right_on='id')
df.shape

(243817, 41)

In [33]:
df.head()

,match_id,season_x,start_date,venue_x,innings,ball,batting_team,bowling_team,striker,non_striker,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue_y,umpire1,umpire2,umpire3
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243817 entries, 0 to 243816
Data columns (total 41 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                243817 non-null  int64
 1   season_x                243817 non-null  object
 2   start_date              243817 non-null  object
 3   venue_x                 243817 non-null  object
 4   innings                 243817 non-null  int64
 5   ball                    243817 non-null  float64
 6   batting_team            243817 non-null  object
 7   bowling_team            243817 non-null  object
 8   striker                 243817 non-null  object
 9   non_striker             243817 non-null  object
 10  bowler                  243817 non-null  object
 11  runs_off_bat            243817 non-null  int64
 12  extras                  243817 non-null  int64
 13  wides                   7652 non-null    float64
 14  noballs                 1018 non-null    float64
 15  byes                    628 non-null     float64
 16  legbyes                 3778 non-null    float64
 17  penalty                 2 non-null       float64
 18  wicket_type             12067 non-null   object
 19  player_dismissed        12067 non-null   object
 20  other_wicket_type       0 non-null       float64
 21  other_player_dismissed  0 non-null       float64
 22  cricsheet_id            243817 non-null  int64
 23  id                      243817 non-null  int64
 24  season_y                243817 non-null  object
 25  city                    231420 non-null  object
 26  date                    243817 non-null  object
 27  team1                   243817 non-null  object
 28  team2                   243817 non-null  object
 29  toss_winner             243817 non-null  object
 30  toss_decision           243817 non-null  object
 31  result                  243817 non-null  object
 32  dl_applied              243817 non-null  int64
 33  winner                  239693 non-null  object
 34  win_by_runs             243817 non-null  int64
 35  win_by_wickets          243817 non-null  int64
 36  player_of_match         243327 non-null  object
 37  venue_y                 243817 non-null  object
 38  umpire1                 243817 non-null  object
 39  umpire2                 243817 non-null  object
 40  umpire3                 243128 non-null  object
dtypes: float64(8), int64(9), object(24)
memory usage: 76.3+ MB

In [35]:
df.drop(columns=['season_y','venue_y'], inplace=True)
df.rename(columns={'season_x': 'season', 'venue_x': 'venue'}, inplace=True)
df.head()
df['date'] = pd.to_datetime(df['date'])
df['start_date'] = pd.to_datetime(df['date'])

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243817 entries, 0 to 243816
Data columns (total 39 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                243817 non-null  int64
 1   season                  243817 non-null  object
 2   start_date              243817 non-null  datetime64[ns]
 3   venue                   243817 non-null  object
 4   innings                 243817 non-null  int64
 5   ball                    243817 non-null  float64
 6   batting_team            243817 non-null  object
 7   bowling_team            243817 non-null  object
 8   striker                 243817 non-null  object
 9   non_striker             243817 non-null  object
 10  bowler                  243817 non-null  object
 11  runs_off_bat            243817 non-null  int64
 12  extras                  243817 non-null  int64
 13  wides                   7652 non-null    float64
 14  noballs                 1018 non-null    float64
 15  byes                    628 non-null     float64
 16  legbyes                 3778 non-null    float64
 17  penalty                 2 non-null       float64
 18  wicket_type             12067 non-null   object
 19  player_dismissed        12067 non-null   object
 20  other_wicket_type       0 non-null       float64
 21  other_player_dismissed  0 non-null       float64
 22  cricsheet_id            243817 non-null  int64
 23  id                      243817 non-null  int64
 24  city                    231420 non-null  object
 25  date                    243817 non-null  datetime64[ns]
 26  team1                   243817 non-null  object
 27  team2                   243817 non-null  object
 28  toss_winner             243817 non-null  object
 29  toss_decision           243817 non-null  object
 30  result                  243817 non-null  object
 31  dl_applied              243817 non-null  int64
 32  winner                  239693 non-null  object
 33  win_by_runs             243817 non-null  int64
 34  win_by_wickets          243817 non-null  int64
 35  player_of_match         243327 non-null  object
 36  umpire1                 243817 non-null  object
 37  umpire2                 243817 non-null  object
 38  umpire3                 243128 non-null  object
dtypes: datetime64[ns](2), float64(8), int64(9), object(20)
memory usage: 72.5+ MB

In [40]:
df.describe(include='number')

,match_id,innings,ball,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,other_wicket_type,other_player_dismissed,cricsheet_id,id,dl_applied,win_by_runs,win_by_wickets
count,2.438170e+05,243817.000000,243817.000000,243817.000000,243817.000000,7652.000000,1018.000000,628.000000,3778.000000,2.0,0.0,0.0,2.438170e+05,2.438170e+05,243817.000000,243817.000000,243817.000000
mean,8.707328e+05,1.483777,9.557601,1.252607,0.067173,1.204260,1.034381,1.867834,1.304129,5.0,NaN,NaN,8.707328e+05,8.707328e+05,0.014954,13.739608,3.194039
std,3.532373e+05,0.502855,5.686364,1.626760,0.341989,0.788406,0.325568,1.312454,0.847922,0.0,NaN,NaN,3.532373e+05,3.532373e+05,0.121368,23.233827,3.336077
min,3.359820e+05,1.000000,0.100000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN,3.359820e+05,3.359820e+05,0.000000,0.000000,0.000000
25%,5.483160e+05,1.000000,4.500000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN,5.483160e+05,5.483160e+05,0.000000,0.000000,0.000000
50%,8.298190e+05,1.000000,9.400000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN,8.298190e+05,8.298190e+05,0.000000,0.000000,3.000000
75%,1.216507e+06,2.000000,14.400000,1.000000,0.000000,1.000000,1.000000,4.000000,1.000000,5.0,NaN,NaN,1.216507e+06,1.216507e+06,0.000000,19.000000,6.000000
max,1.370353e+06,6.000000,19.900000,6.000000,7.000000,5.000000,5.000000,4.000000,5.000000,5.0,NaN,NaN,1.370353e+06,1.370353e+06,1.000000,146.000000,10.000000